*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 1350px;
    height: 540px;
    background-image: url(../images/earth.png);
}

#logo{
    width: 103px;
    height: 103px;
    margin-left: 30px;
    margin-top: 20px;
    background-image: url(../images/united-kingdom.png);
    float:left;
    margin-right: 30px;
}

#logo:hover{
    border-style: solid;
}

#logo1{
    width: 103px;
    height: 103px;
    margin-left: 30px;
    margin-top: 20px;
    background-image: url(../images/japan.png);
    float:left;
    margin-right: 30px;
}

#logo1:hover{
    border-style: solid;
}

#logo2{
    width: 103px;
    height: 103px;
    margin-left: 30px;
    margin-top: 20px;
    background-image: url(../images/france.png);
    float:left;
    margin-right: 30px;
}

#logo2:hover{
    border-style: solid;
}

